* {
  padding: 0;
  margin: 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.navigation-logo {
  display: flex;
  align-items: center;
}
